@model ErrorViewModel
<h1 class="text-center">Error</h1>

<partial name="/Views/Partials/FlashMessagePartial.cshtml" />

<p class="text-center m4">An error has occurred. You may <a href="javascript:history.go(-1)" class="text-color-brand text-underline">click here</a> to go back and try your request again.</p>

<div class="flex-col items-center text-center">
    <form>
        <a class="button-link-dark" asp-controller="Storefront" asp-action="Index">Browse Store</a>
    </form>
</div>