@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@namespace StoreApp.CartHeader

<div style="text-decoration: underline;">this is the cart header partial</div>

@if (!ViewData.ContainsKey(K.UserName)){
    <a asp-controller="Account" asp-action="LoginIndex">Login</a>
    <a asp-Controller="Account" asp-action="CreateAccountIndex">Create Account</a>
} else {
    <div>
        <div>Items in cart: @ViewData[K.NumItemsInCart]</div>
        <a asp-controller="Cart" asp-action="Index">View Cart</a>
        <br>
        <a asp-controller="Account" asp-action="Manage">manage account: @ViewData[K.UserName]</a>
    </div>
}