@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@namespace StoreApp.FlashMessage

<div class="flex-col items-center text-center width-100">
    @if (!String.IsNullOrEmpty((string)ViewData[K.FlashInfo])) {
        <div class="flash-info bd-radius-sm text-bold my4 p4">
            <div>@ViewData[K.FlashInfo]</div>
        </div>
    }

    @if (!String.IsNullOrEmpty((string)ViewData[K.FlashOk])) {
        <div class="flash-ok bd-radius-sm text-bold my4 p4">
            <div>@ViewData[K.FlashOk]</div>
        </div>
    }

    @if (!String.IsNullOrEmpty((string)ViewData[K.FlashError])) {
        <div class="flash-error bd-radius-sm text-bold my4 p4">
            <div>@ViewData[K.FlashError]</div>
        </div>
    }
    </div>
</div>