@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@namespace StoreApp.FlashMessage

<div class="flex-col items-center text-center width-100 my4">
    @if (!String.IsNullOrEmpty((string)ViewData[K.FlashInfo])) {
        <div class="flash-info bd-radius-sm text-bold my4 p4">
            <p>@ViewData[K.FlashInfo]</p>
        </div>
    }

    @if (!String.IsNullOrEmpty((string)ViewData[K.FlashOk])) {
        <div class="flash-ok bd-radius-sm text-bold my4 p4">
            <p>@ViewData[K.FlashOk]</p>
        </div>
    }

    @if (!String.IsNullOrEmpty((string)ViewData[K.FlashError])) {
        <div class="flash-error bd-radius-sm text-bold my4 p4">
            <p>@ViewData[K.FlashError]</p>
        </div>
    }
    </div>
</div>