@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="flex-col items-center text-center">
    <form>
        <a class="button-link-dark" asp-controller="Storefront" asp-action="Index">Browse Store</a>
        <a class="button-link-light" href="javascript:history.go(-1);">Go Back</a>
    </form>
</div>