@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<a asp-controller="Account" asp-action="LoginIndex">Login</a>
<br>
<a asp-controller="Account" asp-action="CreateAccountIndex">Create Account</a>
<br>
<a asp-controller="Storefront" asp-action="Index">Storefront</a>
<br>
<a asp-controller="Account" asp-action="Manage">Manage account</a>