.color-bg-brand { background-color: $color-brand; }
.color-fg-brand { color: $color-brand; }

.color-fg-gray-50  { color: $color-gray-50; }
.color-fg-gray-100 { color: $color-gray-100; }
.color-fg-gray-200 { color: $color-gray-200; }
.color-fg-gray-300 { color: $color-gray-300; }
.color-fg-gray-400 { color: $color-gray-400; }
.color-fg-gray-500 { color: $color-gray-500; }
.color-fg-gray-600 { color: $color-gray-600; }
.color-fg-gray-700 { color: $color-gray-700; }
.color-fg-gray-800 { color: $color-gray-800; }
.color-fg-gray-900 { color: $color-gray-900; }