.flex-order-0 { order: 0; }
.flex-order-1 { order: 1; }
.flex-order-2 { order: 2; }
.flex-order-3 { order: 3; }
.flex-order-4 { order: 4; }

@include break-sm {
  .sm\:flex-order-0 { order: 0; }
  .sm\:flex-order-1 { order: 1; }
  .sm\:flex-order-2 { order: 2; }
  .sm\:flex-order-3 { order: 3; }
  .sm\:flex-order-4 { order: 4; }
}
//////////////////////
// All
//////////////////////
.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.items-center {
  align-items: center;
}

.content-center {
  align-content: center;
}

.self-content-center {
  align-self: center;
}

.self-justify-center {
  justify-self: center;
}

.justify-center {
  justify-content: center;
}

.justify-items-center {
  justify-items: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

@include break-sm {
  //////////////////////
  // Small
  //////////////////////
  .sm\:justify-start {
    justify-content: flex-start;
  }
  .sm\:flex-row {
    display: flex;
    flex-direction: row;
  }

  .sm\:flex-col {
    display: flex;
    flex-direction: column;
  }

  .sm\:items-start {
    align-items: flex-start;
  }

  .sm\:items-end {
    align-items: flex-end;
  }

  .sm\:items-center {
    align-items: center;
  }

  .sm\:content-center {
    align-content: center;
  }

  .sm\:self-content-center {
    align-self: center;
  }

  .sm\:justify-center {
    justify-content: center;
  }

  .sm\:justify-items-center {
    justify-items: center;
  }

  .sm\:justify-start {
    justify-content: flex-start;
  }

  .sm\:justify-end {
    justify-content: flex-end;
  }

  .sm\:justify-between {
    justify-content: space-between;
  }
}




@include break-md {
  //////////////////////
  // Medium
  //////////////////////
  .md\:flex-row {
    display: flex;
    flex-direction: row;
  }

  .md\:flex-col {
    display: flex;
    flex-direction: column;
  }

  .md\:items-start {
    align-items: flex-start;
  }

  .md\:items-end {
    align-items: flex-end;
  }

  .md\:items-center {
    align-items: center;
  }

  .md\:content-center {
    align-content: center;
  }

  .md\:self-content-center {
    align-self: center;
  }

  .md\:justify-center {
    justify-content: center;
  }

  .md\:justify-items-center {
    justify-items: center;
  }

  .md\:justify-start {
    justify-content: flex-start;
  }

  .md\:justify-end {
    justify-content: flex-end;
  }

  .md\:justify-between {
    justify-content: space-between;
  }
}

@include break-lg{
  //////////////////////
  // Large
  //////////////////////
  .lg\:flex-row {
    display: flex;
    flex-direction: row;
  }

  .lg\:flex-col {
    display: flex;
    flex-direction: column;
  }

  .lg\:items-start {
    align-items: flex-start;
  }

  .lg\:items-end {
    align-items: flex-end;
  }

  .lg\:items-center {
    align-items: center;
  }

  .lg\:content-center {
    align-content: center;
  }

  .lg\:self-content-center {
    align-self: center;
  }

  .lg\:justify-center {
    justify-content: center;
  }

  .lg\:justify-items-center {
    justify-items: center;
  }

  .lg\:justify-start {
    justify-content: flex-start;
  }

  .lg\:justify-end {
    justify-content: flex-end;
  }

  .lg\:justify-between {
    justify-content: space-between;
  }
}