@mixin input-base {
  width: 100%;
  display: block;
  padding: $space-md;
  border-radius: $border-radius-sm;
  border: 1px solid $color-brand;
  background: #ffffff;
  font-size: $font-base;
  font-family: $font-family-base;
  box-shadow: inset 0px 0px 2px 0px rgba(160, 76, 160, 0.55);
}

button,
input[type="text"],
input[type="submit"],
input[type="number"] {
    @include input-base;
}

button,
input[type="button"],
input[type="submit"] {
  font-weight: bold;
  color: $color-brand;
  box-shadow: 2px 2px 2px 0px #532f5347;
  cursor: pointer;
}

form {
    width: 100%;
}

@include break-sm {
    form {
        width: $form-size;
    }
}