@mixin input-base {
  width: 100%;
  display: block;
  padding: $space-md;
  border-radius: $border-radius-sm;
  border: 1px solid $color-brand;
  background: #ffffff;
  font-size: $font-base;
  font-family: $font-family-base;
  box-shadow: inset 0px 0px 2px 0px rgba(160, 76, 160, 0.55);
  line-height: 1;
}

button,
input[type="text"],
input[type="password"],
input[type="submit"],
input[type="number"] {
    @include input-base;
}

input[type="number"],
input[type="number"]:disabled {
  text-align: center;
  font-weight: bold;
}

input[type="text"]:disabled,
input[type="password"]:disabled,
input[type="number"]:disabled {
  cursor: not-allowed;
  box-shadow: inset 0px 0px 2px 0px $color-gray-300;
  border: 1px solid $color-gray-300;
}

button,
input[type="button"],
input[type="submit"] {
  font-weight: bold;
  color: $color-brand;
  box-shadow: 2px 2px 2px 0px #532f5347;
  cursor: pointer;
  padding: $space-lg;
}

form {
    width: 100%;
}

@include break-sm {
    form {
        width: $form-size;
    }
}

label + input[type="text"],
label + input[type="number"],
label + input[type="password"],
label + input[type="text"] {
  margin-top: $space-md;
}