.grid-2c {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.grid-3c {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.grid-4c {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.grid-5c {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.grid-auto-rows {
  display: grid;
  grid-auto-rows: auto;
}

.grid-auto-cols {
  display: grid;
  grid-auto-columns: auto;
}

@include break-sm {
  .sm\:grid-2c {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .sm\:grid-3c {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .sm\:grid-4c {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .sm\:grid-5c {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
}

@include break-md {
  .md\:grid-2c {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .md\:grid-3c {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .md\:grid-4c {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .md\:grid-5c {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
}

@include break-lg {
  .lg\:grid-2c {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .lg\:grid-3c {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .lg\:grid-4c {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .lg\:grid-5c {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
}