.height-100 { height: 100%; }
.width-100 { width: 100%; }

.height-unset { height: unset; }
.width-unset { width: unset; }

@include break-sm {
    .height-unset { height: unset; }
    .width-unset { width: unset; }
}

.min-width-content { min-width: min-content; }
.min-height-content { min-height: min-content; }
