.link-light { color: $color-link-light; }
.link-dark { color: $color-link-dark; }
.link-white { color: #ffffff; }

.cart-border {
    border: 1px solid $color-gray-50;
    border-radius: $border-radius-sm;
}

.nav-border {
    border-bottom: 3px solid $color-nav-border;
}

.nav-shadow {
    box-shadow: 0 0 3px 0 #000000d6;
}

.nav-background {
    background: $color-nav-background;
}

.footer-border {
    border-top: 3px solid $color-footer-border;
}

.footer-background {
    background: $color-footer-background;
}


.bd-branded {
    border: 1px solid $color-brand;
}

.candy-card-image {
    width: $candy-card-width;
    min-height: $candy-card-height;
    object-fit: cover;
}

.candy-card-container {
    max-width: $candy-card-width;
    box-shadow: 0px 3px 19px 0 #532f53a6;
    overflow: hidden;
}

.card-row-gap {
    grid-row-gap: 4rem;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, $candy-card-width);
    grid-row-gap: $candy-card-grid-row-gap;
    grid-column-gap: $candy-card-grid-col-gap;
}

@mixin button-link-base {
    padding: $space-lg;
    margin-top: $space-lg;
    margin-bottom: $space-lg;
    border-radius: $border-radius-sm;
    text-decoration: none;
    display: block;
    text-align: center;
    box-shadow: 2px 2px 2px 0px #532f5347;
}

.button-link-dark {
    @include button-link-base();
    background: $color-brand;
    color: $color-gray-50;
}

.button-link-light {
    @include button-link-base();
    border: 1px solid $color-brand;
    background: $color-background;
    color: $color-brand;
}

@include break-sm {
    .sm\:checkout-container {
        width: $checkout-container-width;
    }
}

.edit-cart-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, $edit-cart-item-width);
    grid-column-gap: $edit-cart-col-gap;
    grid-row-gap: $edit-cart-row-gap;
    margin-top: $space-xl;
}

.card-cost-border {
    border-bottom: 1px solid #956a95;
}

.flash-info {
    background: $color-flash-info-background;
    color: $color-font;
    border: 1px solid $color-flash-info-border;
    width: 100%;
}

.flash-ok {
    background: $color-flash-ok-background;
    color: $color-font;
    border: 1px solid $color-flash-ok-border;
    width: 100%;
}

.flash-error {
    background: $color-flash-error-background;
    color: $color-font;
    border: 1px solid $color-flash-error-border;
    width: 100%;
}

@include break-sm {
    .flash-info {
        width: $flash-msg-max-width;
    }

    .flash-ok {
        width: $flash-msg-max-width;
    }

    .flash-error {
        width: $flash-msg-max-width;
    }
}

.order-table {
    width: 100%;
}

@include break-sm {
    .order-table {
        width: $order-table-width;
    }
}

.search-result-highlight {
    text-decoration: underline;
    color: $customer-search-highlight-color;
    background: $customer-search-highlight-background;
}

@include break-sm {
    .customer-search-results-container {
        width: $form-size;
    }
}

input[type="submit"].cart-border {
    border: 1px solid $color-gray-50;
    border-radius: $border-radius-sm;
}

.header-account-grid {
    display: grid;
    grid-template-rows: auto auto auto;
}

@include break-sm {
    .header-account-grid {
        grid-template-rows: unset;
        grid-template-columns: auto 10rem auto;
    }
}

.footer-grid {
    display: grid;
    grid-template-rows: repeat(3, min-content);
    grid-row-gap: 1rem;
}

@include break-sm {
    .footer-grid {
        grid-template-rows: unset;
        grid-template-columns: max-content min-content min-content;
    }
}

input[type="submit"].naked {
    border: 0;
    display: inline;
    padding: 0;
    line-height: unset;
    box-shadow: none;
    color: unset;
    box-shadow: none;
    margin: 0;
    font-size: 1rem;
    background: unset;
}