// Typography
$font-sm: 0.75rem;
$font-base: 90%;
$font-family-base: 'Muli', sans-serif;
$font-family-header: 'Muli', sans-serif;

$font-size-xs:   0.75rem;
$font-size-sm:   0.875rem;
$font-size-base: 1rem;
$font-size-lg:   1.125rem;
$font-size-xl:   1.25rem;
$font-size-2xl:  1.5rem;
$font-size-3xl:  1.875rem;
$font-size-4xl:  2.25rem;
$font-size-5xl:  3rem;
$font-size-6xl:  4rem; 

// Colors
$color-background: #fff9fe;
$color-font: #1a171a;
$color-brand: #532f53;
$color-header: $color-brand;

$color-ok: $color-brand;
$color-error: #ff0000;
$color-info: #009797;

$color-ok-border: #320032;
$color-error-border: #aa0000;
$color-info-border: #320032;

$color-gray-50:  #f9f4f9;
$color-gray-100: #ede1ed;
$color-gray-200: #ccbccc;
$color-gray-300: #b2a4b2;
$color-gray-400: #998a99;
$color-gray-500: #807380;
$color-gray-600: #665c66;
$color-gray-700: #4d454d;
$color-gray-800: #332e33;
$color-gray-900: #1a171a;

$color-link-light: $color-info;
$color-link-dark: $color-brand;

$color-nav-background: $color-brand;
$color-nav-border: #a04ca0;

$color-footer-background: $color-brand;
$color-footer-border: #a04ca0;

$color-table-border: $color-background;
$color-table-background: #e4d9e4;

@mixin button-background {
  background: linear-gradient(180deg,#f7f7f7 0,#f0f0f0 100%);
}

@mixin background-gradient {
  background-image: linear-gradient(120deg,#fff 0,#f0f0f0 100%);
}

// Border radii
$border-radius-sm: 3px;
$border-radius-md: 6px;
$border-radius-lg: 10px;

// Breakpoints
$break-sm: 640px;
$break-md: 768px;
$break-lg: 1024px;

// Spacing
$space-sm: 0.25rem;
$space-md: 0.5rem;
$space-lg: 0.75rem;
$space-xl: 1rem;


// App-specific
$navbar-height: 60px;

$candy-card-width: 180px;
$candy-card-height: 180px;
$candy-card-grid-row-gap: 4rem;
$candy-card-grid-col-gap: 3rem;

$form-size: 300px;  // used to constrain form size when the viewport increases in width

$edit-cart-item-width: 380px;
$edit-cart-col-gap: 6rem;
$edit-cart-row-gap: 2rem;
$checkout-container-width: 200px;

$table-border-size: 3px;