@model StoreApp.Model.View.ItemDetail
<partial name="/Views/Partials/FlashMessagePartial.cshtml" />

@if (Model.NotFound) {
    <h1>Unable to find that item id.</h1>
} else {
    <div class="flex-col items-center m4">
        <div class="flex-col items-center bd-radius-lg candy-card-container">
            <img class="candy-card-image" src="/img/product/@Model.ImageName">
            <div class="flex-col items-center justify-center height-100 width-100 p3 text-center text-gray-50 color-bg-brand text-bold card-cost-border">@Model.Name</div>
            <div class="flex-col items-center justify-center height-100 width-100 p3 text-center text-gray-50 color-bg-brand text-bold">$@Model.UnitPrice</div>
        </div>
    </div>

    <div class="flex-col items-center">
        <form class="item-detail-width" asp-controller="Cart" asp-action="AddToCart" method="POST">
            <input type="hidden" name="ItemId" value="@Model.Id">
            <div class="my4">
                <label for="ItemQuantity">Quantity</label>
                <input type="number" min="1" max="@Model.Stock" step="1" name="ItemQuantity" value="1">
            </div>
            <div class="my4">
                <input type="submit" class="button-dark" value="Add to cart">
            </div>
        </form>
    </div>
}
