@model StoreApp.AdminModel.StoreList

<h1 class="text-center">Store Order Search</h1>

<partial name="/Views/Partials/FlashMessagePartial.cshtml" />

<div class="flex-col items-center">
    <form asp-controller="AdminStoreOrderSummary" asp-action="Summary" method="GET">
        <div class="my4">
            <label for="storeId">Store</label>
            <select name="storeId" asp-items="@Model.Stores"></select>
        </div>
        <input type="submit" value="Go">
    </form>
</div>