@model StoreApp.AdminModel.StoreList

<h1>this is the store order search home page</h1>
<partial name="/Views/Partials/FlashMessagePartial.cshtml" />

<div>Store to view</div>
<form asp-controller="AdminStoreOrderSummary" asp-action="Summary" method="GET">
    <select name="storeId" asp-items="@Model.Stores"></select>
    <input type="submit" value="Go">
</form>