<h1 class="text-center">Access Denied</h1>
<partial name="/Views/Partials/FlashMessagePartial.cshtml" />

<p class="m4 text-center">You do not have permission to view the requested page.</p>
<partial name="/Views/Partials/GoBackPartial.cshtml" />