@model StoreApp.Model.Input.LoginUser;

<partial name="/Views/Partials/FlashMessagePartial.cshtml" />

<div class="flex-col items-center">
    <form class="p4" asp-controller="Account" asp-action="TryLogin" method="POST">
        <input type="hidden" name="ReturnUrl" value="@Model.ReturnUrl">
        <h1 class="text-color-brand text-center">Login</h1>
        <div class="my4">
            <label asp-for="UserName"></label>
            <input asp-for="UserName" placeholder="User Name"/>
            <span asp-validation-for="UserName" class="text-color-error"></span>
        </div>
        <div class="my4">
            <label asp-for="Password"></label>
            <input asp-for="Password" placeholder="Password"/>
            <span asp-validation-for="Password" class="text-color-error"></span>
        </div>

        <input type="submit" value="Submit" class="my4" />
    </form>
</div>