@model StoreApp.Model.Input.AccountManagement

<h1>This is the account management page</h1>

<partial name="/Views/Partials/FlashMessagePartial.cshtml" />

<a asp-controller="Account" asp-action="OrderHistory">Order history</a>

<form asp-controller="Account" asp-action="UpdateAccountInfo" method="POST">
    <div>
        select default store
        <select asp-for="StorePicked" asp-items="@Model.Stores"></select>
    </div>
    <div>
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" placeholder="First Name" />
        <span asp-validation-for="FirstName"></span>
    </div>
    <div>
        <label asp-for="LastName"></label>
        <input asp-for="LastName" placeholder="Last Name" />
        <span asp-validation-for="LastName"></span>
    </div>
    <div>
        <label asp-for="AddressLine1"></label>
        <input asp-for="AddressLine1" placeholder="Address Line 1" />
        <span asp-validation-for="AddressLine1"></span>
    </div>
    <div>
        <label asp-for="AddressLine2"></label>
        <input asp-for="AddressLine2" placeholder="Address Line 2" />
        <span asp-validation-for="AddressLine2"></span>
    </div>
    <div>
        <label asp-for="City"></label>
        <input asp-for="City" placeholder="City" />
        <span asp-validation-for="City"></span>
    </div>
    <div>
        <select asp-for="StatePicked" asp-items="@Model.States"></select>
    </div>
    <div>
        <label asp-for="Zip"></label>
        <input asp-for="Zip" placeholder="Zip" />
        <span asp-validation-for="Zip"></span>
    </div>

    <input type="submit" value="Save Changes">
</form>