@model StoreApp.Models.CartAddOk

<h1>Cart add OK page</h1>
<div>item added = @Model.ItemId</div>
<div>quantity = @Model.ItemQuantity</div>
<a asp-controller="Storefront" asp-action="Index">Continue Shopping</a>
<br>
<a asp-controller="Checkout" asp-action="Index">Checkout</a>
<br>
<a asp-controller="Cart" asp-action="Index">Update Cart</a>