@model StoreApp.Model.View.CartAddOk

<h1 class="text-center">Item successfully added to cart!</h1>

<partial name="/Views/Partials/FlashMessagePartial.cshtml" />

<div class="flex-col items-center text-center">
    <form>
        <a class="button-link-dark" asp-controller="Storefront" asp-action="Index">Continue Shopping</a>
        <a class="button-link-dark" asp-controller="Checkout" asp-action="Index">Checkout</a>
        <a class="button-link-dark" asp-controller="Cart" asp-action="Index">Update Cart</a>
    </form>
</div>