<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SugarRush</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <partial name="/Views/Partials/PageHeaderPartial.cshtml" />
    <main>
        @RenderBody()
    </main>

    <footer>
        <div>
            &copy; 2020 - SugarRush
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
    <partial name="_ValidationScriptsPartial.cshtml" />
</body>
</html>
