<h1>this is the admin home page</h1>
<partial name="/Views/Partials/FlashMessagePartial.cshtml" />

<a asp-controller="AdminCustomerSearch" asp-action="Index">Customer Search</a>
<br>
<a asp-controller="AdminStoreOrderSummary" asp-action="Index">Get orders by store</a>
<br>