<h2 class="text-center">Order Placed Successfully!</h2>
<partial name="/Views/Partials/FlashMessagePartial.cshtml" />

<p class="text-center">Your order has been accepted and will be processed as soon as possible.</p>
<div class="flex-col items-center text-center">
    <form>
        <a class="button-link-dark" asp-controller="Storefront" asp-action="Index">Shop for more</a>
    </form>
</div>