<h1 class="text-center">Order Place Successfully</h1>

<partial name="/Views/Partials/FlashMessagePartial.cshtml" />

<p class="text-center m4">Your order has been accepted and will be processed as soon as possible.</p>
<div class="flex-col items-center text-center">
    <form>
        <a class="button-link-dark" asp-controller="Storefront" asp-action="Index">Shop for more</a>
    </form>
</div>