<h2 class="text-center">Order Placement Error</h2>
<partial name="/Views/Partials/FlashMessagePartial.cshtml" />

<p class="text-center">There was a problem placing your order, please try again.</p>
<div class="flex-col items-center text-center">
    <form>
        <a class="button-link-dark" asp-controller="Checkout" asp-action="Index">Checkout</a>
    </form>
</div>