<h1 class="text-center">Order Placed Successfully</h1>

<partial name="/Views/Partials/FlashMessagePartial.cshtml" />

<p class="text-center my4">Thank you for shopping at SugarRush!</p>

<div class="flex-col items-center text-center">
    <form>
        <a class="button-link-dark" asp-controller="Storefront" asp-action="Index">Shop for more</a>
    </form>
</div>